body {
  background:#EFEFEF;
  font-family: 'open sans';
}
.heading {
  background:url(background.jpg);
  height:32em;
  color:white;
}
.heading p, .fa-align-justify {
  line-height:110px!important;
}
.heading a {
	text-decoration: none;
  color:white;
}
.heading a p {
  transition:.25s linear;
}
.heading a p:hover {
  transform: translateX(5px);
}
.heading h1:nth-child(3){
  line-height: 31px;
  font-weight:400;
}
.titletext {
  margin-top:4em;
}
.socialmedia i {
  float:right;
  margin-left:10px;
  color:white;
}
.socialmedia i:hover {
  opacity:0.8;
}
.fa-align-justify {
  float:right;
}

/*-----------nav---------------*/

.hamburger, .cross {
	background:none;
	border:0;
	cursor:pointer;
	z-index:10000000000000;
	outline:none;
  float:right;
  line-height:110px;
  font-size:24px;
  color:#fff;
	}
.hamburger:focus, .cross:focus{
	outline: none;
}
.hamburger:hover, .cross:hover {
	opacity:0.9;
}
.menu{
	display:none;
	z-index:1000000;
	right:0; top:0;
  background:#fff;
	position:fixed;
  padding:0 2em;
	height:100%;
}
.menu a {
	transition:.25s linear;
	text-decoration: none;
	display: block;
  color:#333;
  padding:0.5em;
}
.menu a:first-child{
  margin-top:1em;
}
.menu a:hover {
  transform: translateX(5px);
}

/*-----------projects---------------*/

.project {
  position: relative;
  transition:.25s linear;
  display:inline-block;
  margin-bottom:1em;
}
.project img {
  border-radius: 5px;
}
.project:hover {
  transform: translateY(-5px);
}
.project:hover > .plus {
  transform: scale(1);
}
.plus {
  width:2em;
  transform: scale(0);
  transition:.25s linear;
  position:absolute;
  top:45%;
  left:42%;
}
.featured div {
  background:#fff;
  min-width:;
  padding-top:1.5em;
  min-height:237px;
  border-radius:5px;
}
.featured {
  transition:.25s linear;
}
.featured p {
  color:#333;
}
.featured a {
  text-decoration:none;
}
.featured:hover {
  transform: translateY(-5px);
}
.featured img {
  float:left;
  margin-right:1em;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.featured p:nth-child(2) {
  line-height:0;
  margin-bottom:2em;
  font-size:14px;
  opacity:0.5;
  margin-top: -5px;
}
.featured p:nth-child(3){
  font-size:14px;
  width:90%;
}
.featured p:nth-child(4){
  position:absolute;
  top:23px;
  right:30px;
  opacity:0.5;
}
.fa-arrow-circle-right {
  float:right;
  transition: 0.5s linear;
  color:#333;
  position:absolute;
}
.fa-arrow-circle-right:hover {
  transform: rotate(360deg);
}
.project img, .featuredimage {
  max-width: 165px;
}
.projectgallerytitles {
  margin-top: 3em;
}
.project div {
  position: absolute;
  color:white;
  padding:1.3em;
}
.project div p {
  margin-bottom:0;
}


@media (min-width: 1400px){
.container {
    width: 1340px;
    max-width: 100%;
}
/*------------------*/
footer {
  text-align:center;
}
footer p {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  font-size: 12px;
  opacity:0.5;
}
